/* Scrollbar özelleştirme */
#suggestions::-webkit-scrollbar {
    width: 6px;
}
#suggestions::-webkit-scrollbar-track {
    background: transparent;
}
#suggestions::-webkit-scrollbar-thumb {
    background: #1193d4;
    border-radius: 10px;
}

/* Animasyonlu geçişler */
.suggestion {
    transition: all 0.2s ease;
}

#welcome-box {
    transition: opacity 0.3s ease-in-out;
}
